.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
} 

.logo_container {
  width: 700px;
  margin-bottom: 40px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
   
}

.logo_container img {
  width:650px;
  margin-bottom: 12px;
  
 }

 .logo_container h2  {
   font-size: 25px;
  }

  .button_class {
    width: 200px;
    height: 55px;
    background: #cbf1f1;
    border: 1px solid #7163f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
   
    
  }

  .button_class a {
    color: #7163f0;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }
