:root {


  --color-primary: #ff1010;
  --color-font: rgb(253, 245, 245);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  

}

html, body {
    height: 100vh;
}

body {
  background-image: url(../images/BG.svg) ;
  display: flex;
  align-items: center;
  justify-content: center;
}


body,
input,
button,
form {
  font: 500 0.9rem Nunito;
}
